<h1 align="center">Edit Restaurant</h1>

<%= form_for [current_user, @restaurant] do |f| %>
  <div class='field add'>
    <%= f.label :Add %>
    <%= f.text_field :title, class: 'field', placeholder: 'Add a new restaurant.' %></br>
  </div>
  <div class='field rate'>
    <%= f.label :rating %>(1-5)
    <%= f.number_field :rating, :style => "width:40px;" %>
  </div>
  <div class='field date'>
    <%= f.label :last_visit %>
    <%= f.date_field :last_visit %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-success' %>
  </div>
<% end %>
